///  Set all base colors
$trex-colors: (
  black:       #000000,
  white:       #ffffff,
  grey:        #212121,
  red:         #e00032,
  blue:        #4d69ff,
  green:       #12c700,
  yellow:      #ffd600,
  orange:      #ff6d00,
  pink:        #c51162,
  purple:      #aa00ff,
  deep-purple: #6200ea,
  indigo:      #304ffe,
  light-blue:  #0091ea,
  steel-blue:  #263238,
  cyan:        #00b8d4,
  teal:        #00bfa5,
  light-green: #64dd17,
  lime:        #aeea00,
  amber:       #ffab00,
  deep-orange: #dd2c00,
  brown:       #3e2723
) !default;

