$content-xs:  remCalc(304);
$content-sm:  remCalc(432);
$content-md:  remCalc(688);
$content-lg:  remCalc(928);
$content-xl:  remCalc(1152);
$content-max: remCalc(1440);
$screen-xs:   remCalc(320);
$screen-sm:   remCalc(480);
$screen-md:   remCalc(768);
$screen-lg:   remCalc(1024);
$screen-xl:   remCalc(1312);
