// Buttons

// Primary
// This is a primary button. It represents the primary action someone should take when they land on any given page. Primary buttons have a solid background color, and should be reserved for only one action per page.



// Primary (dark)
// This is a primary button displayed on a dark background.



// Secondary
// This is a secondary button with a hollow, transparent background. This button should be used for any additional actions someone can take on any given page that is different from the primary action.



// Secondary (dark)
// This is a secondary button displayed on a dark background.



// Product
// Use this theme style for product related actions, such as downloading or signing up.



// Product (secondary)
// This secondary button theme should be used when the CTA is not the main action a person should take on a page. An example of this can be seen in the Navigation organism.



// Product (secondary dark)



// Neutral
// This is a neutral button.



// Neutral (dark)
// This is a neutral button with the dark theme.



// Sizes
// Buttons can be 4 different sizes, if no size is declared they will be the large size.



// Disabled
// This is an example of a disabled button. The disabled property is added on submit to prevents people from submitting their information twice by mistake while submitting a form.



// Download Button (with secondary text)
// Download button component with privacy policy link.



// Button Container
// The .mzp-c-button-container class can be used around a group of buttons. It applies a flexbox context and the default form spacing. Modifier classes can then be added to change the layout.