/* ==========
	BUTTONS 
	========== */

/* ==========
	OVERVIEW 
	========== */
	/*
		The button class mzp-c-button can be a applied to a button element, an input type="button" or an a element.
	
		Button size and color themes can be combined as needed.
	
		Tips
			Avoid using button styling for ordinary links that simply lead to another page. Buttons should typically trigger some specific action. Buttons do things; links go places.
			
			That said, sometimes the action is to visit another page. A strong call to action might be a link styled as a button. Use them wisely.
	*/


/* ==========
	PRIMARY 
	========== */
	/*
		This is a primary button. It represents the primary action someone should take when they land on any given page. Primary buttons have a solid background color, and should be reserved for only one action per page.
	*/



/* ==========
	PRIMARY (DARK) 
	========== */
	/*
		This is a primary button displayed on a dark background.
	*/



/* ==========
	SECONDARY 
	========== */
	/*
		This is a secondary button with a hollow, transparent background. This button should be used for any additional actions someone can take on any given page that is different from the primary action.
	*/



/* ==========
	SECONDARY (DARK) 
	========== */
	/*
		This is a secondary button displayed on a dark background.
	*/



/* ==========
	PRODUCT 
	========== */
	/*
		Use this theme style for product related actions, such as downloading or signing up.
	*/



/* ==========
	PRODUCT (SECONDARY) 
	========== */
	/*
		This secondary button theme should be used when the CTA is not the main action a person should take on a page. An example of this can be seen in the Navigation organism.
		
		Tips
			Use this button theme for product related actions, such as downloading Firefox or signing up for a Firefox Account.
	*/



/* ==========
	PRODUCT (SECONDARY DARK) 
	========== */



/* ==========
	NEUTRAL 
	========== */
	/*
		This is a neutral button.
	*/



/* ==========
	NEUTRAL (DARK) 
	========== */
	/*
		This is a neutral button with the dark theme.
	*/



/* ==========
	SIZES 
	========== */
	/* 
		Buttons can be 4 different sizes, if no size is declared they will be the large size.
	*/



/* ==========
	DISABLED 
	========== */
	/*
		This is an example of a disabled button. The disabled property is added on submit to prevents  people from submitting their information twice by mistake while submitting a form.
		
		Tips
			Forms should include enabled buttons by default and notifications should be used to alert users when trying to submit a form without filling out all required fields.
	*/



/* ==========
	DOWNLOAD BUTTON (WITH SECONDARY TEXT) 
	========== */
	/*
		Download button component with privacy policy link.
	*/



/* ==========
	BUTTON CONTAINER 
	========== */
	/*
		The .mzp-c-button-container class can be used around a group of buttons. It applies a flexbox  context and the default form spacing. Modifier classes can then be added to change the layout.

			* Alignment Options -- https://protocol.mozilla.org/demos/forms/button-alignment.html
		
		Notes
			* Buttons are stacked, centered, and full-width on small screens (though with a max-width of 300px).
			* On larger screens, buttons are inline and aligned with the text direction (left in LTR languages, right in RTL languages)
			* Modifier classes for more layout options (See the demo):
				mzp-l-align-end aligns buttons opposite to the text (right in LTR languages, left in RTL languages).
				mzp-l-align-center aligns buttons in the center.
				mzp-l-stretch makes buttons fill the width of the container. Multiple buttons will be stacked and full-width in smaller viewports, and appear inline and stretched in larger viewports (See the demo). This option is best suited to narrow forms.
			* Although the examples here show two buttons, most forms will have only one.
			* The mzp-c-button-info element adds a brief note in small text, typically for some kind of disclaimer or contextual information about the form being submitted. It usually appears below/after the buttons but in some cases could appear above/before.
	*/