/* ========== 
	FORMS 
	========== */

/* 
	Base - Protocol core contains some basic form styles which include:
		* normalization of display between browsers
		* styles for fieldset, legend, input, select
		* utility classes for errors and error messages
	
	Depending on what you're doing this might be enough. For more complex layouts, status information, and custom UI options see the form components.
*/

/* ==========
	RESET
	========== */

form,
fieldset,
legend {
		border: 0;
		margin: 0;
		padding: 0;
}

//  1. Correct the text wrapping in Edge and IE.
//  2. Correct the color inheritance from `fieldset` elements in IE.
//  3. Remove the padding so developers are not caught out when they zero out
//    `fieldset` elements in all browsers.
legend {
		box-sizing: border-box; // 1
		color: inherit; // 2
		display: table; // 1
		max-width: 100%; // 1
		padding: 0; // 3
		white-space: normal; // 1
}

button,
input,
select,
optgroup,
textarea {
		@include font-base;
		@include text-body-md;
		line-height: 1.25;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
		-webkit-appearance: button;
}

// Remove the default vertical scrollbar in IE 10+.
textarea {
		overflow: auto;
}

// 1. Correct the odd appearance in Chrome and Safari.
// 2. Correct the outline style in Safari.
[type="search"] {
		-webkit-appearance: textfield; // 1
		outline-offset: -2px; // 2
}

// Remove the inner padding in Chrome and Safari on macOS.
[type="search"]::-webkit-search-decoration {
		-webkit-appearance: none;
}

// 1. Correct the inability to style clickable types in iOS and Safari.
// 2. Change font properties to `inherit` in Safari.
::-webkit-file-upload-button {
		-webkit-appearance: button; // 1
		font: inherit; // 2
}


// 1. Add the correct box sizing in IE 10.
// 2. Remove the padding in IE 10.
[type="checkbox"],
[type="radio"] {
		box-sizing: border-box; // 1
		padding: 0; // 2
}
	