/* ========================================
  BASE TOKENS
  ========================================= */
@import '../functions';

/// BASE SIZE
/// All calculations are based on this.
///
$trex-base-size: remCalc(16) !default;

@import 'borders/borders.scss';
@import 'colors/colors.scss';
@import 'content/content.scss';
@import 'font-stack/font-stack.scss';
@import 'gradients/gradients.scss';
@import 'media-queries/media-queries.scss';
@import 'units/units.scss';

/// SIZE SCALE
/// This is a Major Third scale that powers all the utilities that
/// it is relevant for (font-size, margin, padding). All items are
/// calcuated off the base size, so change that and cascade across
/// your whole project.
///

$trex-scale: (
  '300': $trex-base-size * 0.8,
  '400': $trex-base-size,
  '500': $trex-base-size * 1.25,
  '600': $trex-base-size * 1.6,
  '700': $trex-base-size * 2,
  '900': $trex-base-size * 3
) !default;

/// COLORS
/// Colors are shared between backgrounds and text by default.
/// You can also use them to power borders, fills or shadows, for example.
///


/// CORE CONFIG
/// This powers everything from utility class generation to breakpoints
/// to enabling/disabling pre-built components/utilities.
///
$trex-config: (
  'bg': (
    'items':    trex-color($trex-colors, $shade),
    'output':   'standard',
    'property': 'background'
  ),
  'color': (
    'items':    trex-color($trex-colors, $shade),
    'output':   'standard',
    'property': 'color'
  ),
  'box': (
    'items': (
      'block': 'block',
      'flex':  'flex',
      'hide':  'none',
      'show':  'inherit'
    ),
    'output':   'responsive',
    'property': 'display'
  ),
  'font': (
    'items': (
      'base': 'Helvetica, Arial, sans-serif'
    ),
    'output':   'standard',
    'property': 'font-family'
  ),
  'm-top': (
    'items':    $trex-scale,
    'output':   'standard',
    'property': 'margin-top'
  ),
  'm-right': (
    'items':    $trex-scale,
    'output':   'standard',
    'property': 'margin-right'
  ),
  'm-bottom': (
    'items':    $trex-scale,
    'output':   'standard',
    'property': 'margin-bottom'
  ),
  'm-left': (
    'items':    $trex-scale,
    'output':   'standard',
    'property': 'margin-left'
  ),
  'p-top': (
    'items':    $trex-scale,
    'output':   'standard',
    'property': 'padding-top'
  ),
  'p-right': (
    'items':    $trex-scale,
    'output':   'standard',
    'property': 'padding-right'
  ),
  'p-bottom': (
    'items':    $trex-scale,
    'output':   'standard',
    'property': 'padding-bottom'
  ),
  'p-left': (
    'items':    $trex-scale,
    'output':   'standard',
    'property': 'padding-left'
  ),
  'stack': (
    'items': (
      '300': 0,
      '400': 10,
      '500': 20,
      '600': 30,
      '700': 40
    ),
    'output':   'standard',
    'property': 'z-index'
  ),
  'text': (
    'items':    $trex-scale,
    'output':   'responsive',
    'property': 'font-size'
  ),
  'weight': (
    'items': (
      'light':   '300',
      'regular': '400',
      'bold':    '700'
    ),
    'output':   'standard',
    'property': 'font-weight'
  ),
  'width': (
    'items': (
      'full':    '100%',
      'half':    percentage(1/2),
      'quarter': percentage(1/4),
      'third':   percentage(1/3)
    ),
    'output':   'responsive',
    'property': 'width'
  ),
  'breakpoints': (
    'xs': "(min-width: $screen-xs)",
    'sm': "(min-width: $screen-sm)",
    'md': "(min-width: $screen-md)",
    'lg': "(min-width: $screen-lg)",
    'xl': "(min-width: $screen-xl)"
  )
) !default;